.main-container {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar .navbar-nav .nav-link {
    padding: 1em 0;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0 1em;
  }
}

.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "";
  background-color: black;
  width: 0%;
  height: 4px;
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}
.logo-image{
  width: 110px;
  height: 105px;
  margin-left: 10px;
  margin-top: 6px;
}
.hero-image{
  height: 200px;
  width: 100%;
}
.hero-container{
  margin: 0;
  padding: 0;
  background-image: url(../Assets/Hero\ Image.jpg);
  height: 200px;
  width: 100%;
  color: white;
  text-align: center;
}